
/* startskeleto */
/* .bg-preload{
    position: relative;
  
     
  }
  .bg-preload::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: beige;
    background-size: 200%;
    animation: skelton 20s infinite reverse;
  }
  @keyframes skelton{
    0%{
      background-position:-100% 0 ;
    }
    100%{
      background-position: 100% 0;
    }
  } */
  /* endskeleto */